* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 250px;
  height: 350px;
  background-color: #171717;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50px;
  margin-top: 2rem;
}

.title {
  font-size: 1.5rem;
  line-height: 1.75rem;
  text-align: center;
  color: #fafafa;
  padding: 1rem;
}

.themeOptions {
  width: 100%;
}

.optionDiv {
  width: 100%;
  padding: 0.75rem 1rem;
  display: flex;
}

.optionTitle {
  color: #fafafa;
  margin-bottom: 0.25rem;
  font-size: 1.1rem;
  font-weight: 400;
  width: 300px;
}

.optionInput {
  background-color: #272727;
  border: none;
  outline: none;
  color: #fafafa;
  width: 90px;
  padding: 0.35rem;
  border-radius: 0.125rem;
  text-transform: uppercase;
}

.optionWheel {
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
  width: 100px;
  outline: none;
  border: 1px solid #e1e1e1;
  border-radius: 0.125rem;
}

.optionWheel::-webkit-color-swatch-wrapper,
.optionWheel::-webkit-color-swatch {
  border: none;
  padding: 0;
}

#applyBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: #fafafa;
  font-weight: 700;
  font-size: 0.9rem;
  margin: 1.5rem;
  border: 1px solid #fafafa;
  border-radius: 0.125rem;
}
